 html {
  margin: 0;
  height: 100%;
  background-color: #6c757d;
}

#canvas-container {
  height: 100vh !important;
  background-color: #6c757d;
}

#fetch-container {
  background-color: whitesmoke;
}
